.Menu {
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  /* border: 1px solid #efefef; */
  position: relative;
  /* top: 25vh; */
  /* background-color: rgba(145, 148, 145, 0.6); */
}

.menu-item {
  display: flex;
  /* border: 1px solid #efefef; */
  padding: 10px 0px 10px 0px;
  justify-content: center;
  margin: auto;
  
}

.sub-item {
  display: flex;
  margin: auto;
  justify-content: center;
  /* Hacky fix for getting good spacing when flex wrap is in effect */
  border-bottom: 10px solid transparent;
  
}

.sub-menu{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
}

.ac-item-container{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.ac-item {
  display: flex;
  flex: 1;
  justify-content: center;
  /* Hacky fix for getting good spacing when flex wrap is in effect */
  border-bottom: 10px solid transparent;
  padding-right: 5px;
  padding-left: 5px;
  
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}

.mb-3 {
  width: 25vh;
  margin: auto;
}